{% extends "base.html" %}


{% block content %}

<ul class="breadcrumb">
    <li><a href="/admin/bank">根</a> <span class="divider">/</span></li>
    <li><a href="?parent=chapter&parent_id={{ parent.chapter_id }}">{{ parent.chapter_name }}</a> <span
            class="divider">/</span></li>
</ul>

<table class="table table-hover">
    <thead>
    <tr>
        <th>节列表</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for section in parent.sections %}
    <tr id="item_{{ section.section_id }}">
        <td><a href="?parent=section&parent_id={{ section.section_id }}">{{ section.section_name }}</a></td>
        <th><a href="?parent=chapter&action=update&id={{ section.section_id }}" class="update">修改</a>/<a href="#" class="delete">删除</a></th>
    </tr>
    {% end %}
    </tbody>
</table>
<a class="btn btn-small btn-primary" id="create_new" type="button" href="?parent=chapter&action=create&parent_id={{ parent.chapter_id }}">新建节</a>
<script type="text/javascript">
    var current = "bank",
            show_list = "sections";
</script>

{% end %}