{% extends "base.html" %}


{% block content %}

<ul class="breadcrumb">
    <li><a href="/admin/bank">根</a> <span class="divider">/</span></li>
    <li><a href="?list=chapter&id={{ subject.section.chapter.chapter_id }}">{{ subject.section.chapter.chapter_name
        }}</a> <span class="divider">/</span></li>
    <li><a href="?list=section&id={{ subject.section.section_id }}">{{ subject.section.section_name }}</a> <span
            class="divider">/</span></li>
    <li><a href="?list=subject&id={{ subject.subject_id }}">{{ subject.subject_content }}</a> <span
            class="divider">/</span></li>
</ul>

<table class="table table-hover">
    <thead>
    <tr>
        <th>题目列表</th>
        <th>是否正确</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for choice in subject.choices %}
    <tr id="item_{{ choice.choice_content }}">
        <td>{{ choice.choice_content }}</td>
        <th>{{ '是' if choice.choice_correct else '否' }}</th>
        <th><a href="#" class="update">修改</a>/<a href="#" class="delete">删除</a></th>
    </tr>
    {% end %}
    </tbody>
</table>
<a class="btn btn-small btn-primary" id="create_new" type="button" href="#">新建选项</a>
<script type="text/javascript">
    var current = "bank",
            show_list = "choices";
</script>

{% end %}